@import "../../variables";


.canvas-header {
    width: 100%;
    padding: 0 22px;
    justify-content: space-between;
    align-items: center;
    background-color: $black;

    &, &__parameters-bar, &__options-buttons {
        display: flex;
    }
}

.parameters-bar {

    &__group {
        margin-right: 15px;
        display: flex;
        align-items: center;
    }

    &__label {
        font-size: 16px;
        letter-spacing: 1px;
        margin-right: 5px;
        color: #fff;
    }

    &__color-picker, &__number-input {
        margin: 0 5px;
    }

    &__color-picker {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        outline: 1px solid #646464;
        border: 5px solid #fff;
    }
}

.options-buttons {

    &__item {
        margin: 20px 0 20px 30px;
        background: none;
        font-size: 24px;
        color: #fff;
    }

    &__clear {
        color: $lightred;
    }
}