@import "../../_variables.scss";

.canvas-wrapper {
    overflow: hidden;
    position: relative;
    
    &__cursor {
        position: absolute;
        font-size: 18px;
    }
}

.canvas {
    background-color: #fff;
    cursor: crosshair;

    &, .canvas-wrapper {
        width: 100%;
        height: 100%;
    }
}