@import "../../_variables.scss";

.canvas-wrapper {
    overflow: hidden;
    
    &__cursor {
        position: absolute;
        font-size: 18px;
    }

    &__canvas {
        background-color: #fff;
        cursor: crosshair;
    }

    &__canvas, & {
        width: 100%;
        height: 100%;
    }
}